.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;

    .arrow {
      appearance: none;
      padding: 0;
      border: none;
      background-color: #fff;
      font-size: 20px;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    appearance: none;
    border: none;
    background-color: #fff;
    padding: 0 0 0 12px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }
}
