body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
